@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    box-sizing: border-box;
       
    display: flex;
    flex-direction: column;    
    height: 100vh;
}
p{
    font-size: 16px;
}
button{
    border: none;
    outline: none;
}

/* 840px for tablets */

@media (min-width: 840px) {
    .desktop-mode{   
        height: 100vh;             
        display: flex;
        flex-direction: column;
    }
    .responsive{
        display: none;
    }
}


:root{
    /* Primary colors */
    --pOrange : hsl(26, 100%, 55%);
    --pPaleOrange : hsl(25, 100%, 94%);

    /* Neutral colors */
    --nVryDarkBlue : hsl(220, 13%, 13%);
    --nDrkGrayishBlue : hsl(219, 9%, 45%);
    --nGrayishBlue : hsl(220, 14%, 75%);
    --nLigGrayishBlue : hsl(223, 64%, 98%);
    --nWhite : hsl(0, 0%, 100%);
    --nBlack : hsl(0, 0%, 0%);
}
.modal__modal-background{
    background-color: rgba(10, 10, 10, 80%);
    width: 100vw;
    height: 100vh;
    position: absolute;    
    z-index: 10;  
    box-sizing: border-box;        
}
.modal-container{
    min-width: 30%;
    max-width: 35%;
    min-height: 70%;
    max-height: 80%;       
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.modal__close-button-container{
    width: 100%;
    height: max-content;    
    padding: 10px 0;
    display: flex;
}
.modal__close-button{
    width: 25px;
    height: 25px;            
    cursor: pointer;    
    margin-left: auto;
    background-color: var(--nDrkGrayishBlue); /* defines the background color of the image */
    mask: url("images/icon-close.svg") no-repeat center / contain;
    -webkit-mask: url("images/icon-close.svg") no-repeat center / contain;   
    transition: background-color 0.5s;    
}
.modal__close-button:hover{
    background-color: var(--pOrange); /* defines the background color of the image */    
}
.modal__pri-img-container{
    width: 100%;
    flex-grow: 8;        
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
}
.pri-img__img{
    background: url("images/image-product-1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 1.2em;
    flex-grow: 1;    
}
.pri-img__buttons-container{
    width: 100%;
    height: 8%;    
    position: absolute;    
    top: 50%;
    right: 50%;
    transform: translate(50%,-115%);
    display: flex;
    justify-content: space-between;
}
.pri-img__buttons-container div{
    width: 50px;
    height: 100%;
    background-color: var(--nWhite);
    border-radius: 50%;
    display: flex;
    cursor: pointer;  
}
.pri-img__buttons-container div button{
    width: 30%;
    height: 30%;
    margin: auto;
    cursor: pointer; 
    background-color: var(--nBlack); /* defines the background color of the image */    
    transition: background-color 0.5s;        
}
.left__button{        
    mask: url("images/icon-previous.svg") no-repeat center / contain;
    -webkit-mask: url("images/icon-previous.svg") no-repeat center / contain;   
}
.right__button{
    mask: url("images/icon-next.svg") no-repeat center / contain;
    -webkit-mask: url("images/icon-next.svg") no-repeat center / contain;   
}
.pri-img__buttons-container div:hover > button{    
    background-color: var(--pOrange);
}
.modal__secondary-img-container{
    width: 100%;
    flex-grow: 1.5;    
    display: flex;
    flex-direction: row;
    gap: 20px;    
    box-sizing: border-box;
    justify-content: baseline;    
    padding: 30px 30px 10px;
}
.modal__secondary-img-container div{
    flex-grow: 1;        
    border: .1em solid var(--pOrange);    
    border-radius: 0.8em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: filter .5s;
}
.modal__secondary-img-container div:hover{
    cursor: pointer;
    filter: contrast(60%);
    border: none;
}
.secondary-img__img1{
    background: url("images/image-product-1-thumbnail.jpg");    
}
.secondary-img__img2{
    background: url("images/image-product-2-thumbnail.jpg");    
}
.secondary-img__img3{
    background: url("images/image-product-3-thumbnail.jpg");    
}
.secondary-img__img4{
    background: url("images/image-product-4-thumbnail.jpg");    
}

.container__nav{
    margin-top: 5px;
    width: 100%;    
    height: 70px;        
    display: flex; 
    align-items: center;   
    justify-content: center;    
    padding-top: 10px;
    box-sizing: border-box;    
}
.nav{            
    width: 75%;
    height: 100%;
    display: flex;    
    align-items: flex-start;
    border-bottom: 1px solid var(--nGrayishBlue);    
}
.nav__logo-container{                   
    flex-grow: 1;       
}
.nav__logo{               
    width: 70%;    
}
.nav__list{
    box-sizing: border-box;    
    flex-grow: 8;    
    height: 100%;
}
.nav__list li{      
    list-style-type: none;
    height: 100%;          
    font-size: 14px;    
    font-weight: 400;    
    display: inline-flex;
    margin: 0 10px;
    /* animation: animationButton 1s forwards; */
}
.nav__list li a{
    outline: none;
    text-decoration: none;        
    color: var(--nDrkGrayishBlue);
}
.nav__list li a:hover{
    font-weight: 700;
    color: var(--nBlack);
    border-bottom: 4px solid var(--pOrange);    
}

/* ANIMATION FOR HOVER */

/* @keyframes animationBottom {
    from{
        border-bottom-width: 10%;
    }
    to{
        border-bottom-width: 100%;
    }
} */

.nav__section{
    flex-grow: 1;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.section__cart-button{        
    border: none;
    cursor: pointer;
    outline: none;
    width: 35px;
    height: 35px;
    margin: auto;        
    background: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}
.section__profile-container{
    background-color: var(--pOrange);
    width: 45px;
    height: 45px;
    margin: auto;    
    border-radius: 100%;
    display: flex;        
}
.profile__button{
    cursor: pointer;    
    border: none;
    margin: auto;    
    width: 95%;
    height: 95%;
    border-radius: 100%;
    background: url("images/image-avatar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;    
}

.container{  
    padding: 20px 30px 0px;      
    max-width: max-content;
    max-height: max-content;    
    padding: 20px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;      
    position: relative;    
}

.onOpenFlex{
    display: flex;
}
.onClose{
    display: none;
}

.container__card-cart{
    width: 20%;
    height: 250px;    
    position: absolute;    
    right: 14%;
    top: 0;
    background-color: var(--nWhite);
    box-shadow: 6px 6px 20px #aaa;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.card-cart__header{
    display: flex;    
    flex-grow: 1;
    box-sizing: border-box;
    border-bottom: 3px solid var(--nLigGrayishBlue);
}
.cart-header__title{
    margin: auto 20px;
    font-size: 18px;
    color: var(--nVryDarkBlue);
    font-weight: 700;
}
.card-cart__body{
    flex-grow: 5;           
    display: flex;
}
.cart-body__des{    
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: var(--nDrkGrayishBlue);
}

.container__section-one{                
    max-width: 40%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    
}
.section-one__primary-image{
    object-fit: cover;    
    min-width: 50%;
    max-width: 70%;
    max-height: 100%;    
    margin: 25px 0;
    flex-grow: 2;    
    border-radius: 15px;
    cursor: pointer;
}
.section-one__images-container{
    flex-grow: 1;            
    width: 70%;
    height: 80px;
    margin: 0 auto;      
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(35px,max-content));
    grid-template-rows: minmax(30px,max-content);
}
.section-one__images-container button{            
    border: none;
    outline: none;
}
.section-one__images-container button img{        
    object-fit: fill;    
    max-width: 80px;
    min-height: 100%;
    border-radius: .7em;
    transition: all 0.5s;    
}
.section-one__images-container button:hover{    
    cursor: pointer;
    filter: contrast(60%) ;
    border-radius: .7em;
    border: 2px solid var(--pOrange);
}

.isSelectedImg{        
    filter: contrast(50%) !important;
    border: 2px solid var(--pOrange) !important;
}

.container__section-two{            
    max-width: 30%;    
    max-height: max-content;    
    padding: 10px;            
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 20px 0px;
}
.section-two__company-name{
    display: block;
    font-weight: 700;
    font-size: 19px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    width: 100%;
    color: var(--pOrange);    
}
.section-two__product-name{
    font-size: 35px;    
    color: var(--nVryDarkBlue);
    width: 80%;
    font-weight: 800;                
}
.section-two__description{    
    color: var(--nDrkGrayishBlue);    
}
.section-two__price-container{    
    display: grid;
    grid-template-columns: max-content 3fr;    
    grid-template-rows: 1fr;
    gap: 0 5px;
}
.price__principal{    
    color: var(--nVryDarkBlue);
    font-size: 25px;
    font-weight: 700;
}
.price__porcentage{    
    color: var(--pOrange);
    font-weight: 700;
    font-size: 15px;
}
.price__older{
    font-size: 15px;
    text-decoration: line-through;
    color: var(--nGrayishBlue);
}
.section-two__buttons-container{        
    display: flex;            
}
.buttons__input-number-container{       
    background: var(--nLigGrayishBlue);            
    border-radius: 0.7em;
    width: 30%;        
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.input__less-icon{        
    width: 20%;    
    background: url("images/icon-minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}
.input__text{
    background: var(--nLigGrayishBlue);
    width: 40%;    
    text-align: center;
    font-weight: 700;
    border: none;
    outline: none;
}
.input__plus-icon{    
    width: 20%;    
    background: url("images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}
.button__cart{  
    margin: auto;  
    width: 45%;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--pOrange);
    border: none;
    border-radius: 10px;
    color: var(--nWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 5px;
    cursor: pointer;
}
.button__cart i{
    background: url("images/icon-cart.svg");    
    background-repeat: no-repeat;
    background-position: center;
    color: var(--nWhite);
    width: 25px;
    height: 25px;
}
.footer{        
    text-align: end;
    margin-top: auto;        
    padding: 25px 50px;    
    font-weight: 400;    
}
.footer a{
    font-weight: 700;
    color: var(--pOrange);
    text-decoration: none;
}
.footer a:visited{
    text-decoration: none;
}






