:root{
    /* Primary colors */
    --pOrange : hsl(26, 100%, 55%);
    --pPaleOrange : hsl(25, 100%, 94%);
    --pPaleOrange50 : hsl(25, 100%, 94%, 40%);
    /* Neutral colors */
    --nVryDarkBlue : hsl(220, 13%, 13%);
    --nDrkGrayishBlue : hsl(219, 9%, 45%);
    --nGrayishBlue : hsl(220, 14%, 75%);
    --nLigGrayishBlue : hsl(223, 64%, 98%);
    --nWhite : hsl(0, 0%, 100%);
    --nBlack : hsl(0, 0%, 0%);
}

@media (max-width: 840px) {
    .responsive{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }    
    .desktop-mode{
        display: none;
    }
}

.responsive-nav-container{    
    padding: 10px;    
    display: flex;
    justify-content:space-between;
}
.responsive-nav__section-one{    
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.responsive-nav__button{
    width: 25px;
    height: 25px;
    background: url("images/icon-menu.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border: none;
    outline: none;
}
.responsive-nav__logo{
    background: url("images/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 150px;
    height: 100%;    
}
.responsive-nav__section-two{    
    display: flex;       
    align-items: center;
    gap: 0 10px;
}
.responsive-nav__cart-button{
    width: 35px;
    height: 35px;
    background: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    border: none;
}
.responsive-nav__profile-button{
    width: 35px;
    height: 35px;
    background: url("images/image-avatar.png");    
    background-repeat: no-repeat;    
    background-size: cover;
    border: none;
}
.responsive-container{
    box-sizing: border-box;    
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    position: relative;   
}

.isOpen{
    display: block;
    transition: all 1s;
}
.isOpenFlex{
    display: flex;
}
.onClose{
    display: none;
}
.isEnabled{
    display: block;
}
.isDisabled{
    display: none;
}
.cart-container{    
    width: 95%;    
    left: 10px;
    right: 10px;
    transform: translateX(-50%, 50%);
    margin-top: 5px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 5px 25px #333;
    box-sizing: border-box;
    outline: none;
    transition: all 0.5s;
}
.cart-container__header{
    height: 20%;    
    padding: 20px;
    font-size: 15px;
    color: var(--nBlack);
}
.cart-container__divisor{
    width: 100%;
    height: 1px;
    background-color: var(--nGrayishBlue);
}
.cart-container__body{
    display: flex;    
    height: 100%;
    flex-direction: column; 
    padding: 15px 20px;   
    box-sizing: border-box;    
}

.cart-body__item-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: repeat(2, 30px);    
    font-size: 15px;
    gap: 0px 5px;    
}
.item__img{    
    border-radius: 8px;
    width: 100%;
    height: 100%;
    grid-row: span 2;
    background: url("images/image-product-1-thumbnail.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.item__name, .item__price{
    font-size: 15px;
    font-weight: 400;
    color: var(--nDrkGrayishBlue);
}
.item__price{    
    order: 1;
}
.item__total{
    color: var(--nBlack);
}
.item__icon-trash{
    border: none;
    outline: none;
    grid-row: span 2;    
    background: url("images/icon-delete.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cart-body__description{
    font-size: 15px;
    color: var(--nDrkGrayishBlue);
    font-weight: 700;
    margin: auto;
    padding: 70px;    
}

.cart-body__button-checkout{
    border-radius: 8px;
    border: none;
    background-color: var(--pOrange);
    color: var(--nWhite);
    font-weight: 700;
    padding: 18px;   
    width: 100%; 
    margin: 25px auto;
}

.responsive-primary-img{    
    width: 100%;
    min-height: 325px;
    display: flex;
    align-items: center;
    background: url("images/image-product-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.primary-img__buttons-container{    
    width: 100%;    
    display: flex;
    justify-content: space-between;    
    align-items: center;    
}
.primary-img__buttons-container div{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 5px;    
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-img__buttons-container div button{
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;        
}
.primary-img__button-left{    
    background: url("images/icon-previous.svg");
}
.primary-img__button-right{
    background: url("images/icon-next.svg");
}

.responsive-info-container{
    width: 100%;        
    padding: 10px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    box-sizing: border-box;
}

.info-container__company-name{
    font-variant-caps: all-petite-caps;
    letter-spacing: 0.1em;
    font-size: 13px;
    color: var(--pOrange);
    font-weight: 700;
}
.info-container__product-name{
    font-size: 30px;
    color: var(--nBlack);    
}
.info-container__product-info{
    font-size: 15px;
    color: var(--nDrkGrayishBlue);
    margin-bottom: 15px;
}
.info-container__prices-container{    
    display: flex;   
    gap: 15px; 
    margin-bottom: 15px;
}
.prices-container__primary-price{    
    font-size: 25px;
}
.prices-container__discount-container{
    height: 25px;
    width: 45px;
    margin: auto 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pPaleOrange);
}
.discount-container__discount{
    font-size: 14px;
    font-weight: 700;
    color: var(--pOrange);
}
.prices-container__old-price{    
    font-weight: 700;
    font-size: 15px;    
    height: max-content;
    text-decoration:line-through;
    color: var(--nGrayishBlue);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.info-container__input-container{
    display: flex;
    box-sizing: border-box;
    background-color: var(--pPaleOrange50);
    border-radius: 8px;
    padding: 0 5px;
}
.info-container__input-container button{
    width: 15%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;    
    background-color: transparent;
    border: none;
    outline: none;
}
.input-container__less-button{    
    background: url("images/icon-minus.svg");
}
.input-container__input{
    background-color: transparent;
    width: 85%;
    padding: 15px;
    border: none;
    text-align: center;
    outline: none;
    font-weight: 700;
    font-size: 15px;
}
.input-container__plus-button{    
    background: url("images/icon-plus.svg");
}
.info-container__button-cart{
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--pOrange);
    color: #fff;
    padding: 16px;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 5px 5px 5px var(--pPaleOrange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}
.button-cart__icon{    
    color: #fff;
    width: 20px;
    height: 20px;
    background: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.responsive__sidebar-background{
    background-color: rgba(10, 10, 10, 80%);
    width: 100%;
    height: 100vh;
    position: absolute;    
    z-index: 10;    
}
.responsive__sidebar{
    width: 70%;
    min-height: 100vh;
    opacity: 1;
    background-color: #fff;
}
.sidebar__header{
    height: 50px;
    display: flex;
}
.sidebar__button-close{
    width: 25px;
    height: 25px;
    margin: auto 10px;
    background: url("images/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.sidebar__body{
    padding: 10px 25px;
    font-weight: 400;
    font-size: 16px;   
}

.sidebar-body__categories ul{
    list-style: none;
}

.sidebar-body__categories li{
    font-weight: 700;
    color: var(--nVryDarkBlue);
    margin-bottom: 18px;
}
.sidebar-body__categories li a{
    text-decoration: none;
}
.sidebar-body__categories li a:visited{
    color: var(--nVryDarkBlue);    
}



.responsive-footer{
    color: var(--nWhite);
    padding: 10px 5px;
    background-color: var(--pOrange);
    align-items: flex-end;
}
.responsive-footer a{
    color: var(--nWhite);    
}