@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    box-sizing: border-box;
    padding: 20px 30px;    
}
p{
    font-size: 16px;
}

/* 840px to tablets */

:root{
    /* Primary colors */
    --pOrange : hsl(26, 100%, 55%);
    --pPaleOrange : hsl(25, 100%, 94%);

    /* Neutral colors */
    --nVryDarkBlue : hsl(220, 13%, 13%);
    --nDrkGrayishBlue : hsl(219, 9%, 45%);
    --nGrayishBlue : hsl(220, 14%, 75%);
    --nLigGrayishBlue : hsl(223, 64%, 98%);
    --nWhite : hsl(0, 0%, 100%);
    --nBlack : hsl(0, 0%, 0%);
}
.nav{    
    width: 100%;
    height: 80px;
    display: flex;    
    border-bottom: 1px solid var(--nGrayishBlue);    
}
.nav__logo-container{               
    flex-grow: 1;
    margin:auto 0;    
}
.nav__list{
    box-sizing: border-box;
    height: 100%;
    flex-grow: 8;    
}
.nav__list li{      
    list-style-type: none;
    height: 100%;          
    font-size: 18px;    
    display: inline-flex;
    margin: 0 5px;
    /* animation: animationButton 1s forwards; */
}
.nav__list li a{
    text-decoration: none;
    margin: auto 0;
    color: var(--nDrkGrayishBlue);
}
.nav__list li:hover{   
    border-bottom: 3px solid var(--pOrange);    
}

/* ANIMATION FOR HOVER */

/* @keyframes animationBottom {
    from{
        border-bottom-width: 10%;
    }
    to{
        border-bottom-width: 100%;
    }
} */

.nav__section{
    flex-grow: 1;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.section__cart-button{
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: auto;    
    color: khaki;
    background: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}
.section__profile-container{
    background-color: var(--pOrange);
    width: 45px;
    height: 45px;
    margin: auto;    
    border-radius: 100%;
    display: flex;        
}
.profile__button{
    cursor: pointer;    
    border: none;
    margin: auto;    
    width: 95%;
    height: 95%;
    border-radius: 100%;
    background: url("images/image-avatar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;    
}

.container{
    border: 1px solid red;
    max-width: max-content;
    max-height: max-content;    
    padding: 20px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;            
}
.container__section-one{                
    max-width: 40%;
    display: flex;
    flex-direction: column;
}
.section-one__primary-image{
    object-fit: cover;    
    min-width: 40%;
    max-width: 70%;
    max-height: 100%;    
    margin: 15px auto;
    flex-grow: 2;    
    border-radius: 15px;
}
.section-one__images-container{
    flex-grow: 1;            
    width: 70%;
    height: 100px;
    margin: 0 auto;    
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(30px,70px));
    grid-template-rows: minmax(30px,65px);
}
.section-one__images-container button{        
    border: none;
    outline: none;
}
.section-one__images-container button img{    
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: .7em;
}
.section-one__images-container button:hover{
    cursor: pointer;
    filter: contrast(60%) !important;
    border-radius: .7em;
}

.isSelectedImg{        
    filter: contrast(50%) !important;
    border: 2px solid var(--pOrange) !important;
}

.container__section-two{            
    max-width: 40%;    
    max-height: max-content;    
    padding: 10px;            
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 10px 0px;
}
.section-two__company-name{
    display: block;
    font-weight: 700;
    font-size: 19px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    width: 100%;
    color: var(--pOrange);    
}
.section-two__product-name{
    font-size: 45px;
    color: var(--nVryDarkBlue);
    width: 80%;
    font-weight: 700;            
}
.section-two__description{    
    color: var(--nVryDarkBlue);    
}
.section-two__price-container{    
    display: grid;
    grid-template-columns: max-content 3fr;    
    grid-template-rows: 1fr;
    gap: 0 5px;
}
.price__principal{    
    color: var(--nVryDarkBlue);
    font-size: 25px;
    font-weight: 700;
}
.price__porcentage{    
    color: var(--pOrange);
    font-weight: 700;
    font-size: 15px;
}
.price__older{
    font-size: 15px;
    text-decoration: line-through;
    color: var(--nGrayishBlue);
}
.section-two__buttons-container{        
    display: flex;        
}
.buttons__input-number-container{       
    width: 30%;
    display: flex;
    box-sizing: border-box;
}
.input__less-icon{        
    width: 20%;    
    background: url("images/icon-minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}
.input__text{
    width: 40%;    
    text-align: center;
    font-weight: 700;
    border: none;
    outline-color: var(--pOrange);
}
.input__plus-icon{    
    width: 20%;    
    background: url("images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}
.button__cart{  
    margin: auto;  
    width: 70%;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--pOrange);
    border: none;
    border-radius: 10px;
    color: var(--nWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 5px;
    cursor: pointer;
}
.button__cart i{
    background: url("images/icon-cart.svg");    
    background-repeat: no-repeat;
    background-position: center;
    color: var(--nWhite);
    width: 25px;
    height: 25px;
}
.footer{
    border: 1px solid blue;    
    height: 90%;    
    text-align: end;
}








